/* header */

.active {
  color: violet;
}

.navLink {
  color: blue;
  margin: 30px;
}

h2 {
  text-align: center;
}
.detail {
  background-color: red;
  margin-bottom: 10px;
}
/* .footer {
  text-align: center;
  background-color: #ccc;
  height: 50px;
  clear: both;
} */

.pr-detail {
  margin: 120px;
}

.home {
  margin: 100px;
}
.about-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  color: #333;
  font-size: 28px;
  margin-bottom: 10px;
}

h3 {
  color: #555;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
}

p {
  line-height: 1.5;
  margin-bottom: 10px;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 10px;
}

li {
  margin-bottom: 5px;
}

a {
  color: #337ab7;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
